body {
  display: flex;
  flex-direction: column;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
  height: 100vh;           /* full layar */
  background-color: lightblue;
  margin: 0;
  font-size : 50px;
}
